@model iPE.Models.HomePageViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Trip Guide a Travel Agency Category Flat Bootstrap Responsive website Template | Home :: w3layouts</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/css/chocolat.css" type="text/css">

    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Vide" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Trip Guide Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!---->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!---->
    <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/jquery.chocolat.js"></script>
    <!--lightboxfiles-->
    <script type="text/javascript">
        $(function () {
            $('.gallery a').Chocolat();
        });
    </script>
    <!--script-->
    <!--startsmothscrolling-->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1200);
            });
        });
    </script>

    <script src="~/Scripts/modernizr.custom.97074.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-menu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="navbar-brand logo">
                                <h1><a href="index.html">iPE</a></h1>
                            </div>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav cl-effect-11">
                                <li class="active"><a href="#" data-hover="Home" class="scroll">Home </a></li>
                                <li><a href="#homepage" data-hover="homepage" class="scroll">homepage</a></li>
                                <li><a href="#Tickets" data-hover="Tickets" class="scroll">Tickets</a></li>
                                <li><a href="#MatchEnroll" data-hover="MatchEnroll" class="scroll">MatchEnroll</a></li>
                                <li><a data-hover="Contact" href="#contact" class="scroll">Contact</a></li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="content">

        <!--personal information--->
        <div class="about-section" id="about">
            <div class="container">
                <div class="about-grids">
                    <div class="col-md-4 about-grid">
                        <img src="images/tt2.png" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-8 about-grid1">
                        <div class="about-top">
                            <div class="about-left">
                                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                            </div>
                            <div class="about-right">
                                <h4>Personal Information</h4>
                                <p>id:   nickname:    type: </p>
                                <a href="/index.html">change</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about-top1">
                            <div class="about-left">
                                <i class="glyphicon glyphicon-plane" aria-hidden="true"></i>
                            </div>
                            <div class="about-right">
                                <h4>My Favorites</h4>
                                <p>The team and league you collected.</p>
                                <a href="/index.html">check</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about-top1">
                            <div class="about-left">
                                <i class="glyphicon glyphicon-dashboard" aria-hidden="true"></i>
                            </div>
                            <div class="about-right">
                                <h4>Game Enroll</h4>
                                <p>The game you are going to take part in</p>
                                <a href="/index.html">check</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about-top1">
                            <div class="about-left">
                                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="about-right">
                                <h4>Tickets</h4>
                                <p>The valid tickets you bought on our station</p>
                                <a href="/index.html">check</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="about-top">
                            <div class="about-left">
                                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="about-right">
                                <h4>Launch</h4>
                                <p>You have the privilege to launch matches</p>
                                <a href="/index.html">launch</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--personal information--->
        <!--favorites--->
        <div class="promotions">
            <div class="container">
                <h2 class="tittle">My Favorites</h2>
                <span>the team and league you collected</span>
                <div class="have">
                    <ul>
                        <li>team1</li>
                        <li>team2</li>
                        <li>match1</li>
                        <li>match2</li>

                    </ul>
                </div>
                <p class="none">You haven't collected any team or league!</p>
            </div>
        </div>
        <!--favorites--->
        <!--game enroll--->
        <div class="news" id="news">
            <div class="container">
                <h3 class="tittle">Game Enroll</h3>
                <span>The game you are going to take part in</span>
                <div class="news-grids">
                    @{
                        foreach (var match in Model.enrollMatches)
                        {
                            <div class="col-md-4 news-grid">
                                <img src="images/m2.jpg" class="img-responsive" alt="" />
                                <div class="news-text">
                                    <h4>@match.name</h4>
                                    <div class="new-bottom">
                                        <h5>@match.time</h5>
                                    </div>
                                    <p>@match.location</p>
                                    <div class="more m2">
                                        <a href="#" class="btn effect6" data-toggle="modal" data-target="#myModal1">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--game enroll--->
        <!--tickets--->
        <div class="featured-services" id="services">
            <div class="container">
                <h3 class="tittle">Tickets</h3>
                <div class="featured-grids">
                    @{
                        foreach (var ticket in Model.boughtTickets)
                        {
                            <div class="col-md-3 featured-grid">
                                <div class="featured-grd">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <h5>@ticket.name</h5>
                                    <p>@ticket.time</p>
                                    <div class="more m2">
                                        <a href="#" class="btn effect6" data-toggle="modal" data-target="#myModal1">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--tickets--->
    <!--footer-->
    <div class="copy-section">
        <div class="container">
            <div class="footer-top">
                <p>&copy; 2016 iPE. All rights reserved | Design by Wu Shuhan</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'home', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="home" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="news-gr">
                        <img src="images/p6.jpg" class="img-responsive" />
                        <h3 class="tittle1">Trip Guide</h3>
                        <p>Nam aliquam pretium feugiat. Duis sem est, viverra eu interdum ac, suscipit nec mauris. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pel ermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
