@model iPE.Models.TB_Match

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TB_Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.u_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sponsor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sponsor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.m_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.w_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.w_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.e_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Matches")
        </div>
    }
</div>
